server:
  port: 8080

spring:
  datasource:
    driver-class-name : com.mysql.cj.jdbc.Driver
    url : jdbc:mysql//localhost:3308/portfolio?serverTimezone=Asia/Seoul
    username: user
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql : true
jwt:
  secret: "$o0=RzD9<M&Ku[c:o#A}R^jA1Rm=Jvt1NHm*n9I[ONU"